@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: rgb(8,15,59);
background: linear-gradient(90deg, rgba(8,15,59,1) 0%, rgba(18,44,94,1) 51%, rgba(8,38,66,1) 100%);
}